# Datasets
backend/datasets/

# Trained Models
backend/ml/model/
*.pkl
*.parquet
*.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
securetech/
venv/
env/
.venv/

# Python cache
.pytest_cache/

# Node
node_modules/
dist/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env